@media (max-width: 576px) {
  .row {
    flex-direction: column;
    margin: 0px 15px;
  }

  .details {
    width: 90%;
    margin-top: 20px;
  }
  .card-header .img {
    width: -webkit-fill-available;
  }

  .topDetail {
    margin: 0px 20px;
  }
}

@media (max-width: 768px) {
  .details {
    width: -webkit-fill-available;
    margin-top: 20px;
  }
  .card-header .img {
    width: -webkit-fill-available;
  }
}

@media (max-width: 992px) {
  .details {
    flex-wrap: wrap;
    width: auto;
    margin-top: 20px;
  }
  .row {
    justify-content: center;
  }
}
.img {
  width: 350px;
  height: 350px;
}

@media (max-width: 1200px) {
  .row {
    flex-direction: row;
  }
}
