.container {
  position: relative;
  --size-button: 40px;
}

.input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 20px;
  border: none;
  color: #3065a2;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: rgb(222, 222, 222);
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px #3065a2,
    inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
}

.input:focus,
.input:not(:invalid) {
  padding: 25px;
  width: 270px;
  cursor: text;
  box-shadow: 5px -5px 5px grey, 0px 0px 0px, inset -3.5px 2.5px 3px #3065a2;
}

.input:focus .input:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

h1 {
  font-family: "Tulpen One", cursive;
  font-size: 5em;
}

h1 a {
  color: #3065a2;
}

a {
  text-decoration: none;
}
