.header {
  background-color: rgb(19, 89, 170);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 35px;
  color: white;
  font-weight: bold;
}
